// ========== Card Coffe Style

div.card {
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid $card-coffee-border;
	border-radius: 10px;

	&:active {
		border-color: $black;
	}

	header.card-header {
		text-align: center;
		height: 18%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: relative;

		img.img {
			position: absolute;
			width: 8rem;
			height: 8rem;
		}
		
		& > h6.card-title {
			color: $black;
			font-size: 1.1rem;
			font-family: rubik-regular;
		}
	}

	main.card-main {
		color: $dark;
		font-family: rubik-regular;
		font-size: .8rem;
		height: 50%;
		padding-top: 2rem;

		ul.card-list {
			list-style: none;
			width: 100%;

			li.card-items {
				display: flex;
				list-style: none;
				margin-bottom: .8rem;
			}
		}

		img.checklist {
			width: 1rem;
			height: 1rem;
			margin-right: .7rem;
		}
	}

	footer.card-footer {
		height: 32%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p.footer-title {
			font-size: 1.2rem;
			margin-bottom: 1.2rem;
		}
	}
}