// ========== Fonts

// Poppins Fonts
@font-face {
	src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
	font-family: poppins-regular;
}

@font-face {
	src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
	font-family: poppins-bold;
}

@font-face {
	src: url('../assets/fonts/Poppins/Poppins-Italic.ttf');
	font-family: poppins-italic;
}

@font-face {
	src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
	font-family: poppins-light;
}

// Rubik Fonts
@font-face {
	src: url('../assets/fonts/Rubik/static/Rubik-Regular.ttf');
	font-family: rubik-regular;
}

@font-face {
	src: url('../assets/fonts/Rubik/static/Rubik-Bold.ttf');
	font-family: rubik-bold;
}

@font-face {
	src: url('../assets/fonts/Rubik/static/Rubik-Italic.ttf');
	font-family: rubik-italic;
}

@font-face {
	src: url('../assets/fonts/Rubik/static/Rubik-Light.ttf');
	font-family: rubik-light;
}